#lms-pull-course-result{
    visibility: hidden;
}
#loader{
    position:absolute;
    height:100vh;
    width:100%;
    left:0;
    top:0;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(255,255,255,0.5);
    z-index:100;
    visibility: hidden;
}

.padding-top-15{
    padding-top: 15px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-12{
    font-size: 12px;
}

.input-text-width{
    width:450px;
}

.warning{
    color: rgb(82, 6, 6);
}